:root {
    --mainColor: rgb(0, 2, 27);
    --secondaryColour: white;

    --borderColour: red;

    --mainText: white;
    --secondaryText:rgb(129, 91, 91);
}

* {
    padding: 0;
    margin: 0;
}

h1{ font-size: 56px;}
h2{ font-size: 36px;}
h3{ font-size: 28px;}
h4{ font-size: 24px;}
h5{ font-size: 20px;}
h6{ font-size: 16px;}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
}

body {
    background-color: var(--mainColor);
    font-family: "Poppins", sans-serif;
}

.site-logo{
    font-size: 2em;
    color: var(--mainText);
    padding: auto;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;}

.nav-link {
    --spacing: 1em;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
  }

header {
    --text: #f4f4f4;
    --text-inverse: #333;
    --background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
    transition: background 250ms ease-in;
    background: var(--background);
    color: var(--mainText);
  }

  main {
    padding: 50vh 0;
}


em {
    transition: color 1s;
    font-style: normal;
}

em:hover {
    color: red;
    cursor: default;
}
em:active {
    transition: color 20ms;
    color: rgb(255, 102, 102);
}

a{
    text-decoration: none;
    color: var(--mainText);
}

div, p, li, span, label, input, textarea{
    color: var(--secondaryText);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.s1{
    background-color: var(--mainColor);
    border-bottom:1px solid var(--borderColour);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColour);
    border-bottom: 1px solid var(--borderColour);
    overflow: auto;
}
.main-container {
    width:1200px;
    margin: 0 auto;
}
.greeting-wrapper{
    justify-content: center;
}


/*makes site mobile responsive*/
@media screen and (max-width: 1200px) {
    .main-container{
        width:95%;
    }
}
/* clip background to text

    background-color: red;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: cover;
    color: transparent; */
