:root {
    --mainColor: rgb(14, 112, 129);
    --secondaryColour: white;
    --highlight: red;

    /* colours
    rgb(14, 112, 129);
    white;
    rgb(0, 2, 27)
     */

    /* --borderColour: red; */
}

* {
    padding: 0;
    margin: 0;
}

h1{ font-size: 3em;}
h2{ font-size: 2.5em; line-height: 1.25em;}
h3{ font-size: 2.5em;}
h4{ font-size: 2em;}
h5{ font-size: 2.5em;}
h6{ font-size: 1em;}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--secondaryColour);
}

a{
    text-decoration: none;
    color: inherit;
}

div, p, li, span, label, input, textarea{
    font-family: "Poppins", sans-serif;
    color: var(--secondaryColour);
}

body {
    background-color: var(--mainColor);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 2em 2em;
    transition: background 250ms ease-in;
    background: transparent;
    color: var(--secondaryColour);
  }

  .site-logo{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 3em;
    color: var(--secondaryColour);
    padding: auto;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0 5em;
  display: flex;
  align-items: baseline;
}

.nav-link {
    --spacing: 1em;
    text-decoration: none;
    color: var(--secondaryColour);
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
 }

main {
    padding: 20vh 0;
}

.main-container{
    display: flex;
    justify-content:center;
        
}

#banner{
    width: 550px;
    height: auto;
    transition: all 0.5ms linear;
    z-index: 100000;
}

.shadowed {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.2));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    z-index: 100000;
}

.intro {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: larger;
}

/* Text Shifter */
shift {
    position: absolute;
    opacity: 0;
    color: var(--secondaryColour);
    font-size: 3em;
    font-weight: 600;
    margin-top: -20px;
    left: 0px;
}

.visible {
    position: relative;
    opacity: 1;
    animation: push-in 0.8s;
  }
  
@keyframes push-in {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    20% {
        opacity: 1;
        color: red;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* END */


.description {
    margin-top: -60px;
}

img{
    width: 100%;
    height: auto;
}


.greeting {
    padding: 25% 0 0 0;
    text-align: center;
}

em {
    transition: color 1s;
    font-style: normal;
}

em:hover {
    color: var(--highlight);
    cursor: default;
}
em:active {
    transition: color 500ms;
    color: var(--secondaryColour);
}

.s1{
    background-color: var(--mainColor);
    color: var(--mainText);
    border-bottom:1px solid var(--borderColour);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColour);
    color: var(--mainColor);
    border-bottom: 1px solid var(--borderColour);
    overflow: auto;
}
.main-container {
    width:1200px;
    margin: 0 auto;
}


/*makes site mobile responsive*/
@media screen and (max-width: 1200px) {
    .main-container{
        width:95%;
    }
}
/* clip background to text

    background-color: red;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: cover;
    color: transparent; */
